* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* User calculator */
.main_calc_bg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* User calculator value display */
.main_calc_screen {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: right;
  background: #868e9666;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem 2rem 0 0;
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.2),
    0 4px 15px rgba(0, 0, 0, 0.15);
  width: 38rem;
  height: 15rem;
}

/* User calculator button intereaction */
.main_calc_buttons {
  border-radius: 0 0 2rem 2rem;
  width: 60%;
  padding-top: 1.3rem;
  height: 40rem;
  max-width: 38rem;
  background-color: #495057;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 0 0 2rem 2rem;
  justify-content: center;
}

.btn_numbs {
  cursor: pointer;
  background-color: #808080;
  color: #ffffff;
  border: none;
  border-radius: 10rem;
}

.btn_numbs:hover,
.btn_numbs:active {
  background-color: #545454d3;
}

.fr {
  background-color: grey;
}

.op {
  background-color: #ff9500;
}

.op:hover,
.op:active {
  background-color: #ff9500cf;
}
