* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  background-color: #000000;
}

.main_calc_bg {
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.size-6 {
  width: 4rem;
  height: 4rem;
}
.size-5 {
  width: 4rem;
  height: 4rem;
}
