* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* User calculator */
.main_calc_bg {
  background-color: burlywood;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* User calculator value display */
.main_calc_screen {
  background-color: mediumpurple;
  max-width: 38rem;
  width: 50%;
  height: 25rem;
  border-radius: 2rem 2rem 0 0;
}

/* User calculator button intereaction */
.main_calc_buttons {
  width: 50%;
  height: 40rem;
  max-width: 38rem;
  background-color: cadetblue;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.btn_numbs {
  cursor: pointer;
  background-color: #545454;
  color: #ffffff;
  border: none;
  border-radius: 10rem;
}

.btn_numbs:hover,
.btn_numbs:active {
  background-color: #545454d3;
}

.fr {
  background-color: grey;
}

.op {
  background-color: #ff9500;
}

.op:hover,
.op:active {
  background-color: #ff9500cf;
}
